<% @instruments.each do |instrument| %>
  <%= instrument.name %><br />
  <%= instrument.weight %> <br />
  <a href="/instruments/<%=instrument.id%>/edit">Edit</a>
  </div>
</form>
  <br />
  <br />
<% end %>
