<h1>Add a New Instrument</h1>

<form action="/instruments" method="POST">
  <label> Instrument Name </label>
  <input type="text" name="name"> </br>

  <label> Instrument Weight </label>
  <input type="number" min="1" max="10000" name="weight"> </br>

  <input type="submit" value="Create">
</form>
